body {
  font-family: arial;
  margin: 0;
  padding: 0;
}

header, main, footer {
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

header .suculentas-fla-logo {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
header .logo-principal {
  width: 20%;
  transition: 2s;
}
header .logo-principal:hover {
  transform: translateY(50px) translateX(30px);
}
header .titulo-principal {
  transition: 2s;
  text-align: center;
  color: rgb(6, 52, 29);
  font-family: arial;
  font-style: oblique;
  font-size: 30px;
  font-weight: bold;
}
header .titulo-principal:hover {
  transform: scale 0.5;
}
header nav .links-menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  justify-content: space-between;
}
header nav .links-menu li {
  margin: 10px;
}
header nav .links-menu li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: forestgreen;
  font-size: large;
  font-weight: bolder;
}
header .link-iniciar-sesion {
  font-family: arial;
  color: darkgreen;
  text-decoration: none;
}

main .promocion-1, main section h2 .titulo-promociones .parrafo-promociones, section h2 .titulo-promociones main .parrafo-promociones, main section #cactus-id, section main #cactus-id, main section h3, section main h3 {
  color: lightcoral;
  background-color: black;
  font-family: arial;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  transition: 2s;
}
main .promocion-1:hover, main section h2 .titulo-promociones .parrafo-promociones:hover, section h2 .titulo-promociones main .parrafo-promociones:hover, main section #cactus-id:hover, section main #cactus-id:hover, main section h3:hover, section main h3:hover {
  transform: scale 0.5;
}
main span {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
main .lista-plantas {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
  font-family: arial;
  font-size: 15px;
  color: black;
  font-weight: bolder;
}
main section .parrafo-promociones {
  color: lightcoral;
  font-family: arial;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
main section .titulo-promociones {
  font-family: arial;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(4, 31, 4);
}
main .foto-suculenta {
  display: grid;
  border: 2px solid violet;
  margin: 70px;
  padding: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2 150px);
  grid-template-areas: "cactus suculenta planta-de-interior" "cactus suculenta planta-de-interior" "macetas quimicos-fertilizantes quimicos-fertilizantes";
  gap: 35px;
}
main .foto-suculenta div {
  width: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .foto-suculenta div img {
  max-width: 100%;
}
main .foto-suculenta .cactus {
  grid-area: cactus;
}
main .foto-suculenta .suculenta {
  grid-area: suculenta;
}
main .foto-suculenta .planta-de-interior {
  grid-area: planta-de-interior;
}
main .foto-suculenta .macetas {
  grid-area: macetas;
}
main .foto-suculenta .quimicos-fertilizantes {
  grid-area: quimicos-fertilizantes;
}

.principal-productos .titulo-productos-en-venta {
  background-color: black;
  color: lightcoral;
  font-family: arial;
  font-size: 25px;
  text-align: center;
  padding: 25px;
}
.principal-productos .productos-en-venta {
  display: grid;
  border: 2px solid violet;
  margin: 70px;
  padding: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 150px);
  grid-template-areas: "astrophytum-asterias mammilaria" "astrophytum-asterias mammilaria" "stenocactus astrophytum-myriostigma" "mostrar-mas-productos mostrar-mas-productos";
  gap: 35px;
}
.principal-productos .productos-en-venta img {
  width: 180px;
  margin-bottom: 40px;
}
.principal-productos .productos-en-venta .astrophytum-asterias {
  grid-area: "astrophytum-asterias";
}
.principal-productos .productos-en-venta .mammilaria {
  grid-area: "mammilaria";
}
.principal-productos .productos-en-venta .stenocactus {
  grid-area: "stenocactus";
}
.principal-productos .productos-en-venta .astrophytum-myriostigma {
  grid-area: "astrophytum-myriostigma";
}
.principal-productos .productos-en-venta .mostrar-mas-productos {
  grid-area: "mostrar-mas-productos";
}

.pagina-de-contacto .contacto {
  background-color: black;
  color: lightcoral;
  font-family: arial;
  font-size: 25px;
  text-align: center;
  padding: 10px 10px;
}
.pagina-de-contacto .crea-tu-cuenta {
  font-family: arial;
  font-size: 20px;
}
.pagina-de-contacto .Whatsapp {
  font-family: arial;
  font-size: 15px;
}
.pagina-de-contacto .formulario-contacto {
  display: flex;
  flex-direction: column;
}
.pagina-de-contacto .formulario-contacto .name-email-message {
  font-family: arial;
  color: black;
  font-size: large;
}
.pagina-de-contacto .formulario-contacto input {
  width: 50%;
}

.como-comprar .titulo-como-comprar {
  background-color: black;
  color: lightcoral;
  font-family: font-arial;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.como-comprar .informacion-adicional {
  font-size: 20px;
  font-family: arial;
}
.como-comprar .contenidodecomocomprar {
  font-size: 15px;
}

.iniciar-sesion .titulo-formulario {
  background-color: black;
  color: lightcoral;
  font-family: arial;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
}
footer h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: black;
}
footer .instagram-facebook {
  list-style: none;
  padding: 15px;
  justify-content: space-between;
  text-align: center;
}
footer .instagram-facebook .logo-instagram {
  width: 70px;
  padding: 10px;
  margin-bottom: 10px;
}
footer .instagram-facebook .logo-facebook {
  width: 70px;
  padding: 10px;
}
footer .instagram-facebook li {
  align-items: center;
  font-family: arial;
}
footer .instagram-facebook a {
  text-decoration: none;
  font-family: arial;
  font-weight: bolder;
  font-size: 15px;
  color: black;
}
footer .logo-mercado-pago {
  width: 70px;
}
footer .logo-via-cargo {
  width: 70px;
}

@media only screen and (max-width: 420px) {
  nav .links-menu {
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 20px;
  }
  .promocion-1 bg-dark bg-gradient, section h2 .titulo-promociones .parrafo-promociones bg-dark bg-gradient, section #cactus-id bg-dark bg-gradient, section h3 bg-dark bg-gradient {
    text-align: center;
    font-size: 15px;
  }
  .lista-plantas {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
  }
  .fotos-suculentas {
    width: 30%;
    margin: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    grid-template-areas: "cactus" "suculenta" "planta-de-interior" "macetas" "quimicos-fertilizantes";
  }
  .logo-mercado-pago {
    width: 30%;
  }
  .logo-via-cargo {
    width: 30%;
  }
  h3 {
    font-size: 10px;
    text-align: center;
  }
  .productos-en-venta {
    width: 30%;
    margin: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    grid-template-areas: "astrophytum-asterias" "mammilaria" "stenocactus" "astrophytum-myriostigma" "mostrar-mas-productos";
  }
  .como-comprar {
    font-size: 20px;
    text-align: center;
    padding: 15px 15px;
  }
  .como-comprar .informacion-adicional {
    font-size: 10px;
  }
  .como-comprar .contenidodecomocomprar {
    font-size: 10px;
  }
  footer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 10px;
  }
  footer ul .instagram-facebook li a {
    padding: 20px;
  }
  footer .logo-mercado-pago {
    width: 50px;
  }
  footer .logo-via-cargo {
    width: 50px;
  }
  footer h3 {
    font-size: 15px;
  }
  form {
    padding: 15px 15px;
    margin: 15px;
    align-items: center;
    text-align: center;
  }
  form label {
    font-size: 15px;
  }
  form input {
    width: 60%;
  }
  .titulo-formulario {
    font-size: 15px;
  }
  .contacto {
    font-size: 25px;
  }
  .pagina-de-contacto .crea-tu-cuenta {
    font-size: 15px;
  }
  .whatsapp {
    font-size: 10px;
  }
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  margin: 15px;
}
form label {
  font-size: large;
  font-weight: bolder;
  color: black;
}
form input {
  width: 50%;
}

.boton-iniciar-sesion {
  background-color: green;
  font-weight: bolder;
  font-family: arial;
  font-size: medium;
  padding: 5px 10px;
  margin: 15px;
  border-radius: 10px;
  transition: 2s;
}
.boton-iniciar-sesion:hover {
  background-image: linear-gradient(to right, rgb(32, 142, 32), rgb(113, 113, 230));
}

.boton-enviar {
  background-color: green;
  font-weight: bolder;
  font-family: arial;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 2s;
}
.boton-enviar:hover {
  background-image: linear-gradient(to right, rgb(32, 142, 32), rgb(113, 113, 230));
}

.productos-en-venta {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  margin: 15px;
}
.productos-en-venta .boton-carrito {
  background-color: green;
  font-weight: bolder;
  font-family: arial;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 2s;
}
.productos-en-venta .boton-carrito:hover {
  background-image: linear-gradient(to right, rgb(32, 142, 32), rgb(113, 113, 230));
}
.productos-en-venta .mostrar-mas-productos {
  background-color: green;
  font-weight: bolder;
  font-family: arial;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 2s;
}
.productos-en-venta .mostrar-mas-productos:hover {
  background-image: linear-gradient(to right, rgb(32, 142, 32), rgb(113, 113, 230));
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  margin: 15px;
}
.formulario-contacto .name-email-message {
  font-family: arial;
  color: black;
  font-size: medium;
}
.formulario-contacto input {
  width: 50%;
}

.boton-iniciar-sesion:hover {
  background-color: darkolivegreen;
}

a:hover {
  color: rgb(10, 241, 68);
}
a:visited {
  color: lawngreen;
}

/*# sourceMappingURL=style.css.map */
