
/*Aplico grid a la pagina de productos*/

        .cactus{
            grid-area: cactus;
        }
        .suculentas{ 
            grid-area: suculentas;
        }
        .plantas-de-interior{
            grid-area: plantas-de-interior;
           
        }
        .macetas{
            
            grid-area: macetas;

        }
        .quimicos-fertilizantes{
            grid-area: quimicos-fertilizantes;
        }

        .productos-en-venta{
            border: 2px solid violet;
            display:grid;
            margin:70px;
            grid-template-columns:repeat(2, 1fr);
            grid-template-rows:repeat(3, 300px);
            grid-template-areas: "astrophytum-asterias mammilaria"
            "astrophytum-asterias mammilaria"
            "stenocactus astrophytum-myriostigma"
            "mostrar-mas-productos mostrar-mas-productos"
            ;
            gap: 35px;
        }
        .astrophytum-asterias{grid-area: "astrophytum-asterias";

        }
        .mammilaria{ grid-area:"mammilaria";

        }
        .stenocactus{ grid-area: "stenocactus";

        }
        .astrophytum-myriostigma{ grid-area: "astrophytum-myriostigma";

        }
        .mostrar-mas-productos{ grid-area: "mostrar-mas-productos";}


         /*modo mobile first*/
@media (min-widht: 768px){
    *{ padding: 0;
        margin: 0;}
        ul li{ display:none ;}
        section ul li .lista-plantas{ display: none;}

        .fotos-suculentas{ width: 30% ;}

        promocion-1 bg-dark bg-gradient{ text-align: center;}

        .instagram-facebook{ display: none;}
        .modo-pago-envios { display: none ;}

        


}


