main .promocion-1, main section h3, section main h3, main section #cactus-id, section main #cactus-id, main section h2 .titulo-promociones .parrafo-promociones, section h2 .titulo-promociones main .parrafo-promociones {
  color: lightcoral;
  background-color: black;
  font-family: arial;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
main span {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
main ul .lista-plantas {
  display: flex;
  list-style: none;
  text-decoration: none;
  font-family: arial;
  font-size: 5rem;
  color: black;
}
main .foto-suculenta {
  display: grid;
  border: 2px solid violet;
  margin: 70px;
  padding: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2 150px);
  grid-template-areas: "cactus suculenta planta-de-interior" "cactus suculenta planta-de-interior" "macetas quimicos-fertilizantes quimicos-fertilizantes";
  gap: 35px;
}
main .foto-suculenta div {
  width: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .foto-suculenta div img {
  max-width: 100%;
}

section .foto-suculenta .cactus {
  grid-area: cactus;
}
section .foto-suculenta .suculenta {
  grid-area: suculenta;
}
section .foto-suculenta .planta-de-interior {
  grid-area: planta-de-interior;
}
section .foto-suculenta .macetas {
  grid-area: macetas;
}
section .foto-suculenta .quimicos-fertilizantes {
  grid-area: quimicos-fertilizantes;
}
section .foto-suculenta main .productos-en-venta {
  display: grid;
  border: 2px solid violet;
  margin: 70px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-template-areas: "astrophytum-asterias mammilaria" "astrophytum-asterias mammilaria" "stenocactus astrophytum-myriostigma" "mostrar-mas-productos mostrar-mas-productos";
  gap: 35px;
}
section .foto-suculenta main .astrophytum-asterias {
  grid-area: "astrophytum-asterias";
}
section .foto-suculenta main .mammilaria {
  grid-area: "mammilaria";
}
section .foto-suculenta main .stenocactus {
  grid-area: "stenocactus";
}
section .foto-suculenta main .astrophytum-myriostigma {
  grid-area: "astrophytum-myriostigma";
}
section .foto-suculenta main .mostrar-mas-productos {
  grid-area: "mostrar-mas-productos";
}

main .pagina-de-contacto {
  color: black font-family arial;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px;
}

main .como-comprar {
  color: black;
  font-family: arial;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px;
}

main section div .titulo-formulario {
  color: black;
  font-family: arial;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px;
}
main .formulario-login {
  width: 50%;
  display: flex;
  flex-direction: column;
}
main .formulario-login label {
  color: white;
}

body {
  background-color: greenyellow;
  font-family: arial;
  margin: 0;
  padding: 0;
}

header, main, footer {
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

header .suculentas-fla-logo {
  display: flex;
}
header .logo-principal {
  width: 20%;
  align-items: center;
}
header .titulo-principal {
  color: rgb(6, 52, 29);
  text-align: center;
  font-family: arial;
  font-style: oblique;
  font-size: 30;
  font-weight: bold;
  align-items: center;
}
header nav .links-menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  justify-content: space-between;
}
header nav .links-menu li {
  margin: 10px;
}
header nav .links-menu li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: forestgreen;
  font-size: large;
  font-weight: bolder;
}

.link-iniciar-sesion {
  font-family: arial;
  color: darkgreen;
  text-decoration: none;
}

main .promocion-1, main section h2 .titulo-promociones .parrafo-promociones, section h2 .titulo-promociones main .parrafo-promociones, main section #cactus-id, section main #cactus-id, main section h3, section main h3 {
  color: lightcoral;
  background-color: black;
  font-family: arial;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
main span {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
main ul .lista-plantas {
  display: flex;
  list-style: none;
  text-decoration: none;
  font-family: arial;
  font-size: 5rem;
  color: black;
}
main .foto-suculenta {
  display: grid;
  border: 2px solid violet;
  margin: 70px;
  padding: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2 150px);
  grid-template-areas: "cactus suculenta planta-de-interior" "cactus suculenta planta-de-interior" "macetas quimicos-fertilizantes quimicos-fertilizantes";
  gap: 35px;
}
main .foto-suculenta div {
  width: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .foto-suculenta div img {
  max-width: 100%;
}

section .foto-suculenta .cactus {
  grid-area: cactus;
}
section .foto-suculenta .suculenta {
  grid-area: suculenta;
}
section .foto-suculenta .planta-de-interior {
  grid-area: planta-de-interior;
}
section .foto-suculenta .macetas {
  grid-area: macetas;
}
section .foto-suculenta .quimicos-fertilizantes {
  grid-area: quimicos-fertilizantes;
}
section .foto-suculenta main .productos-en-venta {
  display: grid;
  border: 2px solid violet;
  margin: 70px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-template-areas: "astrophytum-asterias mammilaria" "astrophytum-asterias mammilaria" "stenocactus astrophytum-myriostigma" "mostrar-mas-productos mostrar-mas-productos";
  gap: 35px;
}
section .foto-suculenta main .astrophytum-asterias {
  grid-area: "astrophytum-asterias";
}
section .foto-suculenta main .mammilaria {
  grid-area: "mammilaria";
}
section .foto-suculenta main .stenocactus {
  grid-area: "stenocactus";
}
section .foto-suculenta main .astrophytum-myriostigma {
  grid-area: "astrophytum-myriostigma";
}
section .foto-suculenta main .mostrar-mas-productos {
  grid-area: "mostrar-mas-productos";
}

main .pagina-de-contacto {
  color: black font-family arial;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px;
}

main .como-comprar {
  color: black;
  font-family: arial;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px;
}

main section div .titulo-formulario {
  color: black;
  font-family: arial;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px;
}
main .formulario-login {
  width: 50%;
  display: flex;
  flex-direction: column;
}
main .formulario-login label {
  color: white;
}

footer .footer-para-todos {
  margin-top: 20px;
  display: flex;
  padding: 10px;
}
footer .footer-para-todos div .instagram-facebook ul li {
  display: flex;
  text-align: center;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  font-family: arial;
  color: black;
}
footer .footer-para-todos div .modos-pago-envios img {
  width: 20px;
}
footer .footer-para-todos h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
}

@media only screen and (max-width: 320px) {
  .links-menu ul li a {
    display: none;
  }
  .fotos-suculentas {
    width: 30%;
  }
  .productos-en-venta {
    width: 30%;
  }
  .promocion-1 bg-dark bg-gradient, section h2 .titulo-promociones .parrafo-promociones bg-dark bg-gradient, section #cactus-id bg-dark bg-gradient, section h3 bg-dark bg-gradient {
    text-align: center;
  }
  .instagram-facebook {
    display: none;
  }
  .modo-pago-envios {
    display: none;
  }
}
boton-iniciar-sesion {
  background-color: green;
  font-weight: bolder;
  font-family: arial;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 10px;
}

form .formulario-display {
  width: 50%;
  flex-direction: column;
  display: flex;
}
form .formulario-login {
  font-family: arial;
  font-weight: bolder;
  padding: 10%;
}

.boton-enviar {
  background-color: green;
  font-weight: bolder;
  font-family: arial;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 10px;
}

.boton-iniciar-sesion:hover {
  background-color: darkolivegreen;
}

a:hover {
  color: rgb(10, 241, 68);
}
a:visited {
  color: lawngreen;
}

/*# sourceMappingURL=style.css.map */
