header {
  .suculentas-fla-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;

    .logo-principal {
      max-width: 20%;
      max-height: 124%;
      transition: 2s;
      &:hover {
        transform: translateY(50px) translateX(30px);
      }
    }
    //transform scale//
    .titulo-principal {
      transition: 2s;
      &:hover {
        transform: scale(0.5);
      }
      text-align: center;
      color: rgb(6, 52, 29);
      font-family: $font-arial;
      font-style: oblique;
      font-size: 30px;
      font-weight: bold;
    }
  }

  nav {
    .links-menu {
      display: flex;
      list-style: none;
      text-decoration: none;
      text-align: center;
      padding: 15px;
      justify-content: space-between;

      li {
        margin: 10px;

        a {
          @include enlaces;
        }
      }
    }
  }

  .link-iniciar-sesion {
    font-family: $font-arial;
    color: darkgreen;
    text-decoration: none;
  }
}
