
header{
    .suculentas-fla-logo{
        display:flex ;
    }   
    .logo-prinipal{
        img{
            width: 50% ;
            align-items: center;
    }
        }

    .titulo-principal{
            color: blue;
            text-align: center;
            font-family: $font-arial;
            font-style: oblique;
            font-size: 30;
            font-weight: bold;
            align-items: center;
            

    }


      
}

    .link-iniciar-sesion{
        font-family: $font-arial;
        color:darkgreen ;
        text-decoration: none ;
    }
        nav .links-menu{
            
            ul {list-style: none;
                text-align: center;
                display: flex;
                padding: 15px; 
                justify-content: space-between;}

               li{ margin: 10px;
                a{ @include enlaces;
                }
                
              
              
            }
        }
    

    